
// main wrapper for loading component
.loading-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
}


// loading text
.loading{
    font-size: 18pt;
    margin-bottom: 15px;
    position: relative;
    display: block;
    &:after{
        content: '';
        position: absolute;
        width: 50%;
        bottom: 0;
        height: 5px;
        background-color: #EE4266;
        animation: slide 2s ease-in-out;
        animation-iteration-count: infinite;
    }
}


@keyframes slide{
    0%{
        left: 0;
        width: 0;
    }

    50% {
        right: 0;
        width: 100%;
    }

    90% {
        right: 0;
        width: 0;
    }

    100% {
        right: 0;
        width: 0;
    }


}


// wrapper that holds the question and fact
.fact-wrapper{
    width: 65%; 
    color: #171717;
    display: flex;
    flex-direction: column;
    text-align: center;
}

// "did you know" text
.did-you-know{
    font-weight: bold;
    font-size: 12pt;
    color: #1e1e1e;
}

// fun fact
.fact {
    font-size: 12pt;
    color: #1e1e1e;
}

.loading-message{
    position: fixed;
    bottom: 70px;
    text-align: center;
    opacity: 0;
    width: 90%;
    transition: all ease 0.5s;
    transform: translateY(5px);
    span{
        text-align: center;
        font-size: 10pt;
        color: #565556;
    }

    &.visible{
        transform: translateY(0px);
        opacity: 1;
    }
}