.tag_verification-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
}

.tag_verification-wrapper img {
  position: relative;
  margin-bottom: 20px;
  max-width: 90%;
  height: 0;
  -webkit-box-shadow: 0px 1px 4px rgba(146, 146, 146, 0.9);
          box-shadow: 0px 1px 4px rgba(146, 146, 146, 0.9);
  border-radius: 5px;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}

.tag_verification-wrapper img.loaded {
  height: 175px;
}

.discovery-reward {
  font-weight: bolder;
}

.discovery-name {
  font-size: 12pt;
}

header {
  font-size: 25pt;
  text-align: center;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.color {
  color: #EE4266;
}

.discovery-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
  z-index: 2;
}

.discovery-info span {
  margin: 10px 0px;
}

canvas {
  z-index: 1 !important;
}

.discovery-button-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
  z-index: 2;
}

.discovery-button-wrapper button {
  width: 100px;
  height: 40px;
  border-radius: 2px;
  font-size: 13pt;
  border: none;
  -webkit-box-shadow: 0px 1px 4px rgba(146, 146, 146, 0.9);
          box-shadow: 0px 1px 4px rgba(146, 146, 146, 0.9);
  background-color: #EE4266;
  color: white;
}

.info-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 80%;
  margin-top: 5px;
}

.info-text span {
  width: 100%;
  color: #1e1e1e;
}

.footnote {
  color: #565656;
  font-size: 9pt;
  margin: 5px 0px;
  font-weight: 100;
}

.points-info {
  width: 100%;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.points-info span {
  margin: 0px 10px;
}

a {
  color: #EE4266;
}
/*# sourceMappingURL=tag_verification.css.map */