.firebaseui-container {
    background: #F4F4F4 !important;
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    max-width: 100% !important;
    box-shadow: none !important;
}

#firebaseui_container{
    background: #F4F4F4 !important;
    width: 100% !important;
    height: calc(100% - 80px) !important;
}