/*
    This CSS class holds styles for components/other things that show up on multiple pages
*/

* {
  box-sizing: border-box;
  font-family: 'Varela Round', sans-serif;
}


body{
    width: 100vw;
    height: calc(100vh - 60px);
    margin: 0;
}

// root pane
#root{
    width: 100vw;
    height: 100%;
}


// main app wrapper
.app {
    width: 100vw;
    height: 100%;
    background: #F4F4F4;
}


.wrapper{
    width: 100%;
    height: 100%;
    background: #F4F4F4;
    animation: fade-in .5s;
    animation-timing-function: ease-in-out;
}


@keyframes fade-in{
    from{
        opacity: 0;
        transform: translateY(10px); 
    }

    to{
        opacity: 1;
        transform: translateY(0px); 
    }
}